footer.footer
    .container
        .row.align-items-center.justify-content-between   
            img(src="images/icons/logo_webim_gray.svg", alt="alt").col-auto
            .col-auto.footer__soc
                a.footer__soc-item(href=":javascript;")
                    img(src="images/icons/facebook.svg", alt="alt")
                a.footer__soc-item(href=":javascript;")
                    img(src="images/icons/youtube.svg", alt="alt")
                a.footer__soc-item(href=":javascript;")
                    img(src="images/icons/instagram.svg", alt="alt")
script(src="scripts/main.js")