header.header 
    .container
        .row.justify-content-between.align-items-center
            .header__logo.col-auto
                img(src="images/icons/logo_webim_dark.svg", alt="alt")
            nav.col-auto
                ul.nav
                    li.nav-item
                        a.nav-link(href="javascript:;")
                            |Main
                    li.nav-item
                        a.nav-link(href="javascript:;")
                            |Features
                    li.nav-item
                        a.nav-link(href="javascript:;")
                            |Item
                    li.nav-item
                        a.nav-link(href="javascript:;")
                            |Partners
                    li.nav-item
                        a.nav-link(href="javascript:;")
                            |F.A.Q.